@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  margin: 0;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: hsl(322, 100%, 66%);
  color: #ffffff;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 5px 5px hsl(213, 15%, 88%);
  padding: 15px 75px;
  cursor: pointer;
}
.screen-reader {
  position: absolute;
  left: -100vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}
.header__logo {
  height: 39px;
}
.header__button {
  background: #ffffff;
  color: hsl(322, 100%, 66%);
  font-weight: 400;
  border: 1px solid hsl(322, 100%, 66%);
  box-shadow: 2px 2px 5px hsl(323, 100%, 95%);
  padding: 10px 30px;
}
/* Intro Section */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
}
.intro__title {
  font-size: 46px;
}
.intro__paragraph {
  font-size: 18px;
  width: 45%;
}
.intro__button {
  margin-top: 25px;
}
.intro__image-block {
  margin: 75px 100px;
}
.intro__image {
  width: 100%;
}
/* Numbers section */
.numbers {
  display: flex;
  justify-content: space-around;
}
.numbers__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbers__number {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 10px;
}
.numbers__text {
  color: hsl(208, 11%, 55%);
  font-size: 18px;
}
/* Info Sections */
.info-section {
  display: flex;
  padding: 75px 125px;
  align-items: center;
}
.info-section-bgcolor {
  background: hsl(207, 100%, 98%);
  flex-direction: row-reverse;
}
.info-section__image-block {
  flex: 1 1 0;
}
.info-section__image-block__nocolor {
  margin-right: 150px;
}
.info-section__text-block {
  flex: 1 1 0;
}
.info-section__text-block__bgcolor {
  margin-right: 150px;
}
.info-section__image {
  width: 100%;
}
/* Join Section */
.join-section {
  text-align: center;
}
/* Footer */
.footer {
  background: hsl(192, 100%, 9%);
  color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  padding: 75px 125px;
}
.footer__newsletter {
  flex: 1 1 0;
}
.footer__newsletter__title {
  text-transform: uppercase;
  margin-top: 0;
}
.footer__newsletter__paragraph {
  margin-right: 170px;
}
.footer__newsletter__email-input {
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.footer__newsletter__button {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding: 15px 50px;
}
.tooltip {
  display: none;
  color: rgb(218, 55, 55);
  font-size: 12px;
  margin: 0 0 10px 25px;
}
.tooltiptwo {
  display: none;
  color: rgb(50, 182, 50);
  font-size: 12px;
  margin: 0 0 10px 25px;
}
.footer__general-info {
  flex: 1 1 0;
  margin-right: 100px;
}
.footer__general-info__paragraph {
  width: 65%;
  margin: 20px 0;
}
.footer__list {
  padding: 0;
  list-style: none;
}
.footer__general-info__contact-list {
  padding-left: 30px;
}
.footer__general-info__contact-list > * {
  padding-left: 10px;
  margin-bottom: 20px;
}
.footer__general-info__phone {
  list-style: url(../images/icon-phone.svg);
}
.footer__general-info__email {
  list-style: url(../images/icon-email.svg);
}
.footer__general-info__social-links {
  display: flex;
  margin-top: 50px;
}
.footer__general-info__social-link {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.footer__general-info__social-link_nobg {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
/* Curves */
.curve-top-first {
  height: 165px;
  background: url(../images/bg-section-top-desktop-1.svg);
  margin-top: 100px;
}
.curve-bottom-first {
  height: 139px;
  background: url(../images/bg-section-bottom-desktop-1.svg);
  margin-bottom: 100px;
}
.curve-top-second {
  height: 156px;
  background: url(../images/bg-section-top-desktop-2.svg);
  margin-top: 50px;
}
.curve-bottom-second {
  height: 139px;
  background: url(../images/bg-section-bottom-desktop-2.svg);
  margin-bottom: 150px;
}
.curve-footer-top {
  height: 158px;
  background: url(../images/bg-footer-top-desktop.svg);
  margin-top: 150px;
}
.curve {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: left;
}
.attribution a {
  color: #ffffff;
}

/* Media Queries */
@media all and (max-width: 928px) {
  /* Header */
  .header {
    padding: 50px 20px;
  }
  /* Intro Section */
  .intro {
    padding: 50px 40px;
  }
  .intro__title {
    font-size: 36px;
  }
  .intro__paragraph {
    font-size: 16px;
    width: 75%;
  }
  .intro__button {
    padding: 15px 40px;
  }
  .intro__image-block {
    margin: 75px 0;
  }
  /* Info Sections */
  .info-section {
    flex-direction: column;
    text-align: center;
  }
  .info-section__image-block__nocolor {
    margin-right: 0px;
  }
  .info-section__text-block {
    margin-top: 75px;
  }
  .info-section__text-block__bgcolor {
    margin-right: 0px;
  }
  .info-section__title {
    font-size: 30px;
  }
  /* Join Section */
  .join-section__title {
    font-size: 30px;
  }
  .join-section__button {
    padding: 15px 40px;
  }
  /* Footer */
  .footer {
    flex-direction: column;
    padding: 75px 20px;
  }
  .footer__newsletter__paragraph {
    margin-right: 0;
    font-size: 15px;
  }
  .footer__newsletter__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .footer__newsletter__email-input {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__newsletter__button {
    align-self: flex-end;
  }
  .footer__general-info {
    margin-right: 0;
  }
  .footer__general-info__paragraph {
    width: 100%;
  }
}
@media all and (max-width: 568px) {
  /* Header */
  .header__logo {
    height: 20px;
  }
  .header__button {
    font-size: 12px;
    padding: 5px 20px;
  }
  /* Intro Section */
  .intro__title {
    font-size: 26px;
  }
  .intro__paragraph {
    width: 100%;
  }
  /* Numbers section */
  .numbers {
    flex-direction: column;
    align-items: center;
  }
  .numbers__first-block {
    margin-bottom: 75px;
  }
  .numbers__number {
    font-size: 62px;
  }
  .numbers__text {
    font-size: 16px;
  }
  /* Info Sections */
  .info-section {
    padding: 75px 40px;
  }
  .info-section__text-block {
    font-size: 14px;
  }
  .info-section__title {
    font-size: 22px;
  }
  /* Footer */
  .footer__general-info__logo {
    width: 60%;
  }
  /* Curves */
  .curve-top-first {
    height: 112px;
    background: url(../images/bg-section-top-mobile-1.svg);
    margin-top: 50px;
  }
  .curve-bottom-first {
    height: 52px;
    background: url(../images/bg-section-bottom-mobile-1.svg);
    margin-bottom: 50px;
  }
  .curve-top-second {
    height: 103px;
    background: url(../images/bg-section-top-mobile-2.svg);
    margin-top: 25px;
  }
  .curve-bottom-second {
    height: 101px;
    background: url(../images/bg-section-bottom-mobile-2.svg);
    margin-bottom: 100px;
  }
  .curve-footer-top {
    height: 53px;
    background: url(../images/bg-footer-top-mobile.svg);
    margin-top: 150px;
  }
  .curve {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
