@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  margin: 0;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  background: hsl(322, 100%, 66%);
  color: #ffffff;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 5px 5px hsl(213, 15%, 88%);
  padding: 15px 75px;
  cursor: pointer;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}
.header__logo {
  height: 39px;
}
.header__button {
  background: #ffffff;
  color: hsl(322, 100%, 66%);
  font-weight: 400;
  border: 1px solid hsl(322, 100%, 66%);
  box-shadow: 2px 2px 5px hsl(323, 100%, 95%);
  padding: 10px 30px;
}
/* Intro Section */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
}
.intro__title {
  font-size: 46px;
}
.intro__paragraph {
  font-size: 18px;
  width: 45%;
}
.intro__button {
  margin-top: 25px;
}
.intro__image-block {
  margin: 75px 100px;
}
.intro__image {
  width: 100%;
}
/* Numbers section */
.numbers {
  display: flex;
  justify-content: space-around;
}
.numbers__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbers__number {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 10px;
}
.numbers__text {
  color: hsl(208, 11%, 55%);
  font-size: 18px;
}
/* Info Sections */
.info-section {
  display: flex;
  padding: 75px 125px;
  align-items: center;
}
.info-section-bgcolor {
  background: hsl(207, 100%, 98%);
  flex-direction: row-reverse;
}
.info-section__image-block {
  flex: 1 1 0;
}
.info-section__image-block__nocolor {
  margin-right: 150px;
}
.info-section__text-block {
  flex: 1 1 0;
}
.info-section__text-block__bgcolor {
  margin-right: 150px;
}
.info-section__image {
  width: 100%;
}
/* Curves */
.curve-top-first {
  height: 165px;
  background: url(../images/bg-section-top-desktop-1.svg);
  margin-top: 100px;
}
.curve-bottom-first {
  height: 139px;
  background: url(../images/bg-section-bottom-desktop-1.svg);
  margin-bottom: 100px;
}
.curve-top-second {
  height: 156px;
  background: url(../images/bg-section-top-desktop-2.svg);
  margin-top: 50px;
}
.curve-bottom-second {
  height: 139px;
  background: url(../images/bg-section-bottom-desktop-2.svg);
  margin-bottom: 150px;
}
.curve {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media all and (max-width: 928px) {
  /* Header */
  .header {
    padding: 50px 20px;
  }
  /* Intro Section */
  .intro {
    padding: 50px 40px;
  }
  .intro__title {
    font-size: 36px;
  }
  .intro__paragraph {
    font-size: 16px;
    width: 75%;
  }
  .intro__button {
    padding: 15px 40px;
  }
  .intro__image-block {
    margin: 75px 0;
  }
  /* Info Sections */
  .info-section {
    flex-direction: column;
    text-align: center;
  }
  .info-section__image-block__nocolor {
    margin-right: 0px;
  }
  .info-section__text-block {
    margin-top: 75px;
  }
  .info-section__text-block__bgcolor {
    margin-right: 0px;
  }
  .info-section__title {
    font-size: 30px;
  }
}
@media all and (max-width: 568px) {
  /* Header */
  .header__logo {
    height: 20px;
  }
  .header__button {
    font-size: 12px;
    padding: 5px 20px;
  }
  /* Intro Section */
  .intro__title {
    font-size: 26px;
  }
  .intro__paragraph {
    width: 100%;
  }
  /* Numbers section */
  .numbers {
    flex-direction: column;
    align-items: center;
  }
  .numbers__first-block {
    margin-bottom: 75px;
  }
  .numbers__number {
    font-size: 62px;
  }
  .numbers__text {
    font-size: 16px;
  }
  /* Info Sections */
  .info-section {
    padding: 75px 40px;
  }
  .info-section__text-block {
    font-size: 14px;
  }
  .info-section__title {
    font-size: 22px;
  }
  /* Curves */
  .curve-top-first {
    height: 112px;
    background: url(../images/bg-section-top-mobile-1.svg);
    margin-top: 50px;
  }
  .curve-bottom-first {
    height: 52px;
    background: url(../images/bg-section-bottom-mobile-1.svg);
    margin-bottom: 50px;
  }
  .curve-top-second {
    height: 103px;
    background: url(../images/bg-section-top-mobile-2.svg);
    margin-top: 25px;
  }
  .curve-bottom-second {
    height: 101px;
    background: url(../images/bg-section-bottom-mobile-2.svg);
    margin-bottom: 100px;
  }
  .curve {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
